/* common =========================================*/
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
section{
    /* height: calc(100vh - 200px); */
    padding: 100px 0;
}
.drag{
    background: #FFC371;
    color: #FFC371;
}
.drag::selection{
    background: #FF5F6D;
    color: #fff;
}
.main_txt{
    font-size: 20px;
    margin-bottom: 20px;
}
.main_txt > span {
    font-weight: 700;
}
.sub_txt{
    font-size: 14px;
    line-height: 1.4;
}
.txt{
    margin-bottom: 5px;
}
.main_title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.main_title > span{
    background: linear-gradient(to right, #FFC371, #FF5F6D); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mouse a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size:14px;
 }

.mouse a span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 50px;
    box-sizing: border-box;
}

.mouse a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 5px;
    height: 5px;
    margin-left: -3px;
    background-color: #000;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
@keyframes sdb {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* header =========================================*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.logo > span{
    margin-left: 5px;
    font-weight: 300;
}
.menu{
    display: flex;
}
.menu > li {
    padding: 0 10px;
}
.menu > li:last-of-type{
    padding-right: 0;
}
.menu > li > a {
    font-size: 14px;
    color: #fff ;
}
.menu > li > a:hover,
.menu > li > a:focus{
    font-weight: 700;
}

/* home =========================================*/
.home{
    position: relative;
    padding-bottom: 150px;
    margin-top: 60px;
}
.home .wrap{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}
.home .img_box{
    width: 200px;
    height: 200px;
    margin: 0 auto 30px;
    background: url(../images/me.JPG) no-repeat center;
    background-size: 100% auto;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 200px;
    animation: opacity 1s linear;
}
.home .txt_box{
    margin: 0 auto;
    text-align: center;
}
.home .txt_box > p > span {
    margin-left: 5px;
    font-weight: 700;
}
.home .txt_box .main_txt,
.home .txt_box .sub_txt,
.home .info_list{
    animation: up 2s linear;
}
.info_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.info_list > li {
    font-size: 12px;
    padding: 0 5px;
}
.info_list > li > i{
    display: inline-block;
    margin-right: 5px;
}
.info_list > li > p {
    display: inline-block;
}
@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes up {
    0% {
        opacity: 0;
    }
    50%{
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}



/* about =========================================*/
.about {
    background: #f6f4f1;
}
.about .main_title{
    padding-bottom: 0;
}
.about .wrap{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.about .img_box{
    /* position: relative; */
    /* background: url(../images/mbti.png) no-repeat center 32px; */
    /* background-size: auto 90%; */
    width: 30%;
    margin-right: 100px;
}
.about .img_box img{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    border-radius: 50px 50px 50px 0;
    box-shadow: 5px 5px 38px rgba(0,0,0,0.1);
}
.about .txt_box{
    /* position: relative; */
    padding-top: 50px;
}
.about .txt_wrap {
    /* position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); */
}
.about .txt_wrap > dl {
    margin-top:20px;
}
.about .txt_wrap > dl > dt {
    margin-bottom: 5px;
}
.about .txt_wrap > dl > dd{
    margin-bottom: 15px;
}

/* favorite =========================================*/
.favorite {
    margin-bottom: 100px;
}
.favorite ul{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    margin-top: 50px;
}
.favorite ul > li {
    position: relative;
    width: 25%;
    height: 50%; 
    background: #f5f5f5;
    overflow: hidden;
}

.favorite ul > li .vertical{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    transition: 0.5s;
    opacity: 0.7;
}
.favorite ul > li:hover .vertical{
    width: 120%;
    opacity: 1;
}
.favorite ul > li .horizontal{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
    transition: 0.5s;
    opacity: 0.7;
}
.favorite ul > li:hover .horizontal{
    height: 120%;
    opacity: 1;
}

/* footer =========================================*/
footer{
    padding: 15px 0; 
    background: #333;
}
footer .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    display: flex;
}
footer ul li{
    font-size: 0;
    padding: 0 10px;
}
footer ul li:first-child{
    padding-left: 0;
}
footer ul li i {
    font-size: 24px;
    color: #fff;
}
footer .copy{
    font-size: 12px;
    color: #fff;
}



